*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    background-color: #1d1d1f;
}
.about {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.about-section {
    background: url(background.jpg) no-repeat left;
    background-size: 55%;
    background-color: transparent;
    overflow: hidden;
    padding: 100px 0;
}
.inner-container {
    width: 55%;
    float: right;
    background-color:#24262b;
    padding: 150px;
}
.inner-container h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    color: white;
}
.about-text {
    font-size: 13px;
    line-height: 30px;
    color: white;
    text-align: justify;
    margin-bottom: 40px;
}
.skills {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
    color: white;
}
@media screen and (max-width:1200px) {
    .inner-container {
        padding: 80px;
    }
}
@media screen and (max-width:1000px) {
    .about-section {
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container {
        width: 80%
    }
}
.banner{
    width: 100%;
    height: flex;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height:3px;
    width:0%;
    background:#a30248;
    position:absolute;
    left:0;
    bottom:-5px;
    transition:0.5s;
}
.navbar ul li:hover::after{
    width:100%;
}
.maintitle{
    position:relative;
    width:100%;
    padding-top: 10vh; 
    text-align:center;
    color:#fff;
}
.maintitle h1{
    font-size:70px;
    margin-top:80px;
}
.maintitle p{
    margin:20px auto;
    font-weight:100;
    line-height:25px;
}
footer {
    padding: 0px 0px;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    width: 100%;
}
.container {
    max-width: 1170px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
ul {
    list-style: none;
}
.footer {
    background-color:black;
    padding: 70px 0;
    flex: 1;
}
.footer-col {
    flex: 1;
    padding: 0 15px;
}
.footer-col h4 {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: #a30248;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    color: #a30248;
    padding-left: 8px;
}
.footer-col .socials a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.1);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}
.footer-col .socials a:hover {
    color: #24262b;
    background-color: #fff;   
}
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}