*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    background-color: #1d1d1f;
}
.banner{
    width: 100%;
    height: 0 auto;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height:3px;
    width:0%;
    background:#a30248;
    position:absolute;
    left:0;
    bottom:-5px;
    transition:0.5s;
}
.navbar ul li:hover::after{
    width:100%;
}
.maintitle{
    position:relative;
    width:100%;
    padding-top: 10vh; 
    text-align:center;
    color:#fff;
}
.maintitle h1{
    font-size:70px;
    margin-top:80px;
}
.maintitle p{
    margin:20px auto;
    font-weight:100;
    line-height:25px;
}
.containerform {
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 200px;
}
form {
    background-color: #24262b;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}
form h3 {
    color: white;
    font-weight: 800;
    margin-bottom: 20px;
}
form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: black;
    font-size: 16px;
}
form button {
    padding: 15px;
    background:#a30248;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto;
    border-radius: 30px;
    transition: 0.5s;
}
form button:hover {
    width: 100%;
    background: none;
}
footer {
    padding: 0px 0px;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    width: 100%;
}
.container {
    max-width: 1170px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
ul {
    list-style: none;
}
.footer {
    background-color:black;
    padding: 70px 0;
    flex: 1;
}
.footer-col {
    flex: 1;
    padding: 0 15px;
}
.footer-col h4 {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: #a30248;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    color: #a30248;
    padding-left: 8px;
}
.footer-col .socials a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.1);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}
.footer-col .socials a:hover {
    color: #24262b;
    background-color: #fff;   
}
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}